img{
    width: 100%;
    height: auto;
}

h1{
    color: #e50914;
    font-weight: bold;
}

p, h5{
    color: white;
}

a {
    background-color: #e50914;
    color: white;
    text-decoration: none;
}

a:hover {
    background-color: #e50914;
    color: #ffffff;
    border: 2px solid white;
}

h4{
    color: white;
    font-weight: bold;
}