<!-- navBar start -->
<ng-container *ngIf="showNavbar">
  <nav class="navbar navbar-expand-lg fixed-top" [style]="navbarBackground">
    <div class="container-fluid">
      <!-- <a class="navbar-brand" routerLink="">NETFLIX</a> -->
      <div class="logo">
        <img src="https://i.ibb.co/r5krrdz/logo.png" routerLink="home">
      </div>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="search">Search</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</ng-container>

<!-- navBar End -->

<router-outlet></router-outlet>