<!-- navBar start -->

<nav class="navbar navbar-expand-lg fixed-top" [style]="navbarBackground">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">NETFLIX</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Search</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- navBar End -->

<router-outlet></router-outlet>